html, body, div , h1, h2, h3, h4, h5, h6, a, font, img, li, ol, ul, form, td
{
	margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
	padding:0;
	border:0;
	outline:0;
	background:none;
	font-size:100%;
	font-family:"Source Sans Pro", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
	font-style:normal;
	text-align:left;
	list-style:none;
	line-height:1.5;
}

p
{
	text-align:justify
}

a
{
    text-decoration:none;
}

a:link, a:visited
{
    color:#4285f4;
	/* background-color:#f2f4f7;*/
}

a:hover, a:active
{
    color:#0f9d58;
	background-color:#edf7eb;
}


#mainContent
{
    width:800px;
}

#header
{
    height:126px;
    width:800px;
    background:url('img/hlogo.gif');
}

#leftContent
{
    width:280px;
    padding:10px;
    display:inline;
    float:left;
}

#rightContent
{
    width:480px;
    padding:10px;
    display:inline;
    float:left;
}
