html, body, div , h1, h2, h3, h4, h5, h6, a, font, img, li, ol, ul, form, td
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:none;
    text-align:left;
    line-height:1.2;
	font-size:100%;
	font-family: "Inconsolata";
	font-style: normal;
	font-weight: 400;
}

a:link, a:visited
{
    COLOR:#4285f4;
}

a:hover, a:active
{
    COLOR:#0f9d58;
}

body
{
	margin:30px;
}



table, td, th
{
	border: 1px solid #ddd;
	text-align: left;
	padding: 15px;
	height: 25px;
}

/* Sortable tables */
table.sortable thead 
{
	background-color:#eee;
	color:#666666;
	font-weight: boldest;
	border-collapse: collapse;
	width: 100%;
}