<html>
 <head>
  <title>Music</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link href="img/favicon.ico" rel="icon" type="image/x-icon"/>
 </head>
 <body>
  <table class="sortable">
   <tr><th>Name</th><th>Modified</th><th>Created</th><th>Language</th></tr>
		</table>
		<script type="text/javascript" src="sorttable.js"></script>
	</body>
</html>